@model WebsiteNhacOnl.Models.TheLoai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="margin-left:160px">Xóa thể loại</h2>
<hr />
<div style="margin-left:220px">

    <dl class="dl-horizontal">
        <dt>
            Tên thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTL)
        </dd>

    </dl>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <p class="create" style="color:black;font-size:24px; font-weight:400">
            <input type="submit" value="Xóa" class="btn btn-default" />

        </p>
    }
</div>
<hr />
<div style="margin-left:160px">
    @Html.ActionLink("Trở lại", "Index")
</div>
<style>
    .create {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

        .create:hover {
            background-color: wheat;
        }
</style>